@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  transition: transform 1s var(--transition), opacity 1s var(--transition);
}

.swiper-slide-next,
.swiper-slide-next + *,
.swiper-slide-prev {
  opacity: 0.6;
}

.swiper-slide-next {
  transform: translateY(2rem) rotate(5deg) scale(0.9);
}
.swiper-slide-prev {
  transform: translateY(2rem) rotate(-5deg) scale(0.9);
}

body {
  background: #111;
  background: radial-gradient(circle, #222 0%, #111 100%);
  background-repeat: no-repeat;
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
}

.img-card {
  user-select: none;
  width: 6rem;
  height: 21rem;
  background-size: cover;
  background-position: center;
  /* background-image: url("../public/assets/images/teamliquid.webp"); */
  cursor: pointer;
  transition: transform 1.25s var(--transition), filter 3s var(--transition),
    width 0.3s var(--transition), height 0.3s var(--transition);
  position: relative;
  filter: grayscale(1) brightness(0.5);
  /* browser makes some optimization for these transitions */
  will-change: transform, filter;
  /* mask-image: linear-gradient(to bottom, black 80%, transparent 100%); */
  border-radius: 2px;
}

@media only screen and (max-width: 1023px) {
  .img-card {
    width: 100%;
    max-width: 36rem;
    height: 6rem;
  }

  .open-sm {
    width: 100%;
    height: 21rem;
    transform: none;
    filter: inherit;
    z-index: 1;
  }
}

/* Image Card hover */

.img:hover {
  transform: translateZ(17.375rem);
  filter: inherit;
}

.img::before,
.img::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 100%;
  right: -1.25rem;
}

.img::after {
  left: -1.25rem;
}

/* Image Card Click */

.open {
  width: 21rem;
  transform: translateZ(17.375rem);
  filter: inherit;
  z-index: 1;
  margin: 0 0.45vw;
  transform-origin: right;
  cursor: default;
}

ul:has(.img.open:is(:nth-child(1))) {
  transform: translateX(40rem);
  /* transform: translateX(40vw); */
}

ul:has(.img.open:is(:nth-child(2))) {
  transform: translateX(calc(40rem - 9rem));
  /* transform: translateX(calc(40vw - 9rem)); */
}

ul:has(.img.open:is(:nth-child(3))) {
  transform: translateX(calc(40rem - 18rem));
  /* transform: translateX(calc(40vw - 18rem)); */
}

ul:has(.img.open:is(:nth-child(4))) {
  transform: translateX(calc(40rem - 27rem));
  /* transform: translateX(calc(40vw - 27rem)); */
}

ul:has(.img.open:is(:nth-child(5))) {
  transform: translateX(calc(40rem - 36rem));
}

ul:has(.img.open:is(:nth-child(9))) {
  transform: translateX(calc(-40rem + 36rem));
}

ul:has(.img.open:is(:nth-child(10))) {
  transform: translateX(calc(-40rem + 27rem));
  /* transform: translateX(calc(-30vw + 27rem)); */
}

ul:has(.img.open:is(:nth-child(11))) {
  transform: translateX(calc(-40rem + 18rem));
  /* transform: translateX(calc(-40vw + 18rem)); */
}

ul:has(.img.open:is(:nth-child(12))) {
  transform: translateX(calc(-40rem + 9rem));
  /* transform: translateX(calc(-40vw + 9rem)); */
}

ul:has(.img.open:is(:nth-child(13))) {
  transform: translateX(-40rem);
  /* transform: translateX(-40vw); */
}

/* Image Card -4, +4 effect*/

/* -- sibling at right */

.img:hover + * {
  transform: translateZ(14.77rem) rotateY(35deg);
  z-index: -1;
  filter: grayscale(0.2) brightness(0.9);
}

.img:hover + * + * {
  transform: translateZ(9.73rem) rotateY(40deg);
  z-index: -2;
  filter: grayscale(0.4) brightness(0.8);
}

.img:hover + * + * + * {
  transform: translateZ(4.14rem) rotateY(35deg);
  z-index: -3;
  filter: grayscale(0.6) brightness(0.7);
}

.img:hover + * + * + * + * {
  transform: translateZ(1.1rem) rotateY(25deg);
  z-index: -4;
  filter: grayscale(0.8) brightness(0.6);
}

/* -- sibling at left */

.img:has(+ :hover) {
  transform: translateZ(14.77rem) rotateY(-35deg);
  z-index: -1;
  filter: grayscale(0.2) brightness(0.9);
}

.img:has(+ * + :hover) {
  transform: translateZ(9.73rem) rotateY(-40deg);
  z-index: -2;
  filter: grayscale(0.4) brightness(0.8);
}

.img:has(+ * + * + :hover) {
  transform: translateZ(4.14rem) rotateY(-35deg);
  z-index: -3;
  filter: grayscale(0.6) brightness(0.7);
}

.img:has(+ * + * + * + :hover) {
  transform: translateZ(1.1rem) rotateY(-25deg);
  z-index: -4;
  filter: grayscale(0.8) brightness(0.6);
}

ul {
  transition: transform 3s var(--transition);
}

ul:has(.img:is(:nth-child(1), :nth-child(2), :nth-child(3), ):hover) {
  transform: translateX(40rem);
  /* transform: translateX(40vw); */
}

ul:has(.img:is(:nth-child(4), :nth-child(5), ):hover) {
  transform: translateX(20rem);
  /* transform: translateX(20vw); */
}

ul:has(.img:is(:nth-child(9), :nth-child(10), ):hover) {
  transform: translateX(-20rem);
  /* transform: translateX(-20vw); */
}

ul:has(.img:is(:nth-child(11), :nth-child(12), :nth-child(13)):hover) {
  transform: translateX(-40rem);
  /* transform: translateX(-40vw); */
}
